[
{
"attributeURI":"urn:scim:schemas:extension:wso2:1.0:wso2Extension.insightsDepthLevel00",
"attributeName":"insightsDepthLevel00",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"Insights Depth Level00",
"schemaURI":"urn:scim:schemas:extension:wso2:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:wso2:1.0:wso2Extension.insightsDepthLevel01",
"attributeName":"insightsDepthLevel00",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"Insights Depth Level01",
"schemaURI":"urn:scim:schemas:extension:wso2:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:wso2:1.0:wso2Extension.insightsDepthLevel02",
"attributeName":"insightsDepthLevel02",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"Insights Depth Level02",
"schemaURI":"urn:scim:schemas:extension:wso2:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:wso2:1.0:wso2Extension.insightsDepthLevel03",
"attributeName":"insightsDepthLevel03",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"Insights Depth Level03",
"schemaURI":"urn:scim:schemas:extension:wso2:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:wso2:1.0:wso2Extension.insightsDepthLevel04",
"attributeName":"insightsDepthLevel04",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"Insights Depth Level04",
"schemaURI":"urn:scim:schemas:extension:wso2:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:wso2:1.0:wso2Extension.insightsDepthLevel05",
"attributeName":"insightsDepthLevel05",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"Insights Depth Level05",
"schemaURI":"urn:scim:schemas:extension:wso2:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:wso2:1.0:wso2Extension.insightsDepthLevel06",
"attributeName":"insightsDepthLevel06",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"Insights Depth Level06",
"schemaURI":"urn:scim:schemas:extension:wso2:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:wso2:1.0:wso2Extension.insightsDepthLevel07",
"attributeName":"insightsDepthLevel07",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"Insights Depth Level07",
"schemaURI":"urn:scim:schemas:extension:wso2:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:wso2:1.0:wso2Extension.insightsDepthLevel08",
"attributeName":"insightsDepthLevel08",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"Insights Depth Level08",
"schemaURI":"urn:scim:schemas:extension:wso2:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:wso2:1.0:wso2Extension.insightsDepthLevel09",
"attributeName":"insightsDepthLevel09",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"Insights Depth Level09",
"schemaURI":"urn:scim:schemas:extension:wso2:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:wso2:1.0:wso2Extension.insightsAgentId",
"attributeName":"insightsAgentId",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"Insights Agent",
"schemaURI":"urn:scim:schemas:extension:wso2:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null"
},
{
"attributeURI":"urn:scim:schemas:extension:wso2:1.0:wso2Extension.insightsJobTitle",
"attributeName":"insightsJobTitle",
"dataType":"string",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"Insights Job Title",
"schemaURI":"urn:scim:schemas:extension:wso2:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"null" 
},
{
"attributeURI":"urn:scim:schemas:extension:wso2:1.0",
"attributeName":"wso2Extension",
"dataType":"null",
"multiValued":"false",
"multiValuedAttributeChildName":"null",
"description":"SCIM wso2 User Schema Extension",
"schemaURI":"urn:scim:schemas:extension:wso2:1.0",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"subAttributes":"insightsDepthLevel00,insightsDepthLevel01,insightsDepthLevel02,insightsDepthLevel03,insightsDepthLevel04,insightsDepthLevel05,insightsDepthLevel06,insightsDepthLevel07,insightsDepthLevel08,insightsDepthLevel09,insightsAgentId,insightsJobTitle"
}

]
